
<div class="">
    
</div>

<div class="centered">
    <div class="hot-container">
        <a class="btn">
            Classic Design
        </a>
         <a class="btn">
             Modern Design
         </a
        
    </div>
        
</div>
<div class="">
    
</div>
    
    





